@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:'Ubuntu', sans-serif;
}

* a{
    text-decoration: none;
    color: inherit;
}

body{
    background: linear-gradient(to right, #3522af, #9153c9 );
}

.wraper{
    width: 800px;
    background: #fff;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.resume{
    display: flex;
}

.left{
    background: #292b2f;
    width: 300px;
    padding: 0 20px;
}

.right{
    width: 500px;
}

.img_holder{
    padding: 20px 20px;
}

.img_holder img{
    width: 150px;
    border-radius: 30px;
}

.pb{
    padding-bottom: 20px;
}

.head{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #3525af;
    text-align: right;
    margin-bottom: 15px;
    position: relative;
}

.head::before{
    content: "";
    position: absolute;
    top:27px;
    right: 0;
    width: 45px;
    height: 3px;
    background: #3525af;
}

.left .icon{
    font-size: 25px;
    color: #9153c9;
}

.left .text{
    color: #9153c9;
    text-transform: uppercase;
    font-size: 14px;
}

.cont_list .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.cont_list .li_wrap .icon{
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 15px;
}

.cont_list .li_wrap .text{
    width: calc(100%-60px);
    word-break: break-word;
    color: #fff;
}

.skills ul,
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills .li_wrap{
    background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
    margin-top: 5px;
}

.hobbies .li_wrap{
    border: 4px solid #fff;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
    color: #fff;
}

.header{
    position: relative;
    background: #292b2f;
    padding: 15px 30px;
    color: #fff;
    height: 240px;
}

.name{
    position: absolute;
    top:10px;
    left:300px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3525af;
}

.role{
    position: absolute;
    top:75px;
    left:300px;
    font-weight: 300;
    font-size: 15px;
}

.about{
    position: absolute;
    top:120px;
    left:300px;
    line-height: 20px;
}

.right_inner{
    padding: 30px;
    color: #292b2f;
}

.right_inner .education{
    margin-top: 30px;
}

.right_inner .li_wrap{
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-end;
}

.right_inner .li_wrap .date{
    width: 125px;
    color: #9153c9;
}

.right_inner .li_wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}

.right_inner .li_wrap .info_title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #9153c9;
}

.right_inner .li_wrap .info_com{
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
    margin-top: 15px;
}

.right_inner .li_wrap .info::before{
    content: "";
    position: absolute;
    top:3px;
    left:0;
    width: 10px;
    height: 10px;
    background: #9153c9;
    border-radius: 50%;
}

.right_inner .li_wrap .info::after{
    content: "";
    position: absolute;
    top:10px;
    left:4px;
    width: 2px;
    height: 90%;
    background: #9153c9;
}

.right_inner .code_cont{
    font-weight: 400;
    font-size: 15px;
    margin-top: 3px;
    line-height: 20px;
    position: relative;
    padding-left: 25px;
}

.right_inner .code{
    margin-top: 30px;
}

.right_inner .code_cont::before{
    content: "";
    position: absolute;
    top:3px;
    left:5px;
    width: 10px;
    height: 10px;
    background: #9153c9;
    border-radius: 50%;
}


.right_inner .code_cont::after{
    content: "";
    position: absolute;
    top:10px;
    left:9px;
    width: 2px;
    height: 90%;
    background: #9153c9;
}


.right_inner .code_wrap{
    display: flex;
    justify-content: center;
}

.right_inner .eng{
    margin-top: 30px;
}

.footer_wrap{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background: #292b2f;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.footer_logo{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

.footer_logo img{
    font-size: 5px;
    padding-top: 15px;
}

.footer_year{
    font-family: 'Ubuntu', sans-serif;
    background: #292b2f;
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
    padding-right: 27px;
    
}

.left h3{
    display: none;
}

.right h3{
    display: none;
}